<div class="container" id="main">
    <div class="row">
        <div class="span4 offset1">
            <div class="panel">
                <div class="full grid">
                    <h3>Projects</h3>
                    <div class="new">
                        <%= form_tag "/admin/projectstechnologies/addproject", :method => :get, :id => 'add-project', :remote => true do %>
                          <%= text_field_tag :name, '', :id => 'project-name' %>
                          <%= submit_tag 'Add', :class => "btn" %>
                        <% end %>
                    </div>
                    <div id="projects">
                        <%= render :partial => "projects" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4 offset1">
            <div class="panel">
                <div class="full grid">
                    <h3>Technologies</h3>
                    <div class="new">
                        <%= form_tag "/admin/projectstechnologies/addtechnology", :method => :get, :id => 'add-technology', :remote => true do %>
                          <%= text_field_tag :name, '', :id => 'technology-name' %>
                          <%= submit_tag 'Add', :class => "btn" %>
                        <% end %>
                    </div>
                    <div id="technologies">
                        <%= render :partial => "technologies" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
